<nav>
  <i class="bx bx-menu"></i>
  <a href="#" class="nav-link">Home</a>
  <form action="#">
    <div class="form-input">
      <input type="search" placeholder="Search..." id="emailAddFriend" />
      <button type="submit" class="search-btn searchAddFriend">
        <i class="bx bx-search"></i>
      </button>
    </div>
  </form>
  <input type="checkbox" id="switch-mode" hidden />
  <label for="switch-mode" class="switch-mode ms-3"></label>
  <div href="#" class="profile" onclick="menuToggle();">
    <img src="/images/people.png" />
  </div>
  <div class="action">
    <div class="menu" id="profile">
      <h3>
        <%= user.firstName %>
        <div><%= user.email %></div>
      </h3>
      <ul>
        <li>
          <span class="material-icons icons-size">mode</span>
          <a
            data-bs-toggle="modal"
            data-bs-target="#modalChangePassword"
            class="changePassword"
            >Change Password</a
          >
        </li>
        <li>
          <span class="material-icons icons-size">account_balance_wallet</span>
          <a
            class="btn btnLogout"
            data-bs-toggle="modal"
            data-bs-target="#modalLogout"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- MODAL CHANGE PASSWORD -->
<div
  class="modal fade"
  id="modalChangePassword"
  tabindex="-1"
  data-id="<%= user._id %>"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Change Password</h1>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >New Password</label
            >
            <input
              type="email"
              class="form-control"
              id="newPassword"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="email error"></div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >New Password Confirmation</label
            >
            <input
              type="text"
              class="form-control"
              id="newPasswordConfirmation"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="changePasswordError error"></div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Back
        </button>
        <button type="button" class="btn btn-primary changePasswordButton">
          Change Password
        </button>
      </div>
    </div>
  </div>
</div>
<!-- MODAL CHANGE PASSWORD END-->
